#root {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  /* background: linear-gradient(#fff, #999); */
  background: linear-gradient(#e66465, #9198e5);
}

#root>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  flex-direction: row !important;
}

.row>* {
  margin: 5px;
}
.dataLayer {

width:100%;
height:100px;
border-radius: 25px;
border: 2px solid white;
position:relative;
top:450px;
right:1px;
}
.imageDiv {
height:400px;
/* width:450px; */
text-align:center;
}

.imageSize{

    max-width: 100%;
/* min-height:100%; */
    height: auto;
}
.descriptionPanel {
  position:absolute; 
  top:550px;
  opacity:100px;
}
.tabPanel {
  opacity: 0.8;
  font-weight: bold;
  border-radius: 25px;
  border: 2px solid white;
  padding: 10px;
  position:absolute;
  top:25px;
  left:0px;
  height:400px;
  width:436px;
  overflow: hidden;
  background-color:white;

}
.tabClass {
  width:2px;
}
h1 {
  font-family: 'Damion', cursive;
  color: #fff;
  text-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
}

h2 {
  color: #fff;
}

.swipe {
  position: absolute;
}
.borderBottom{
  border-bottom: 1px grey solid;
}
.borderTop{
  border-top: 1px grey solid;
}
.detailLink {
color: blue;
font-weight: bold;
/* padding: 10px; */
}
.detailLinkContainer {
background-color:white;
height:50px;
overflow-y:hidden;
overflow-x:scroll;
}
.cardLinksBottom {
  background-color: blue;
  font:white;
  font-size: 14pt;
  color:white;
  padding-bottom: 5px;
  border-radius: 0 0 10px 10px;
position: relative;
top: -10px;
}
.cardTitle {
  background-color: blue;
  font:white;
  font-size: 18pt;
  color:white;
  padding-bottom: 5px;
  border-radius: 10px 10px 0 0;
}
.red {
  color:red;
  font-weight: bold;
}
.black {
color:black;
font-weight:bold;
}
.cardContainer {
  width: 90vw;
  max-width: 460px;
  height: 500px;
  
}
.instrumentName{
 
text-align:center;
color:blue;


}

.instrumentText{
  text-align:center;
  color:black;
  /* position: relative;
  top: -18px; */
}
.card {
  position: relative;
  background-color: #fff;
  width: 80vw;
  max-width: 460px;
  height: 500px;
  box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
  border-radius: 20px 20px 0 0;
  background-size: cover;
  background-position: center;
}

.cardContent {
  width: 100%;
  height: 100%;
}

.swipe:last-of-type {

}

.card h3 {
  position: absolute;
  bottom: 0;
  margin: 10px;
  color: #fff;
}

.infoText {
  width: 100%;
  height: 28px;
  justify-content: center;
  display: flex;
  color: #fff;
  animation-name: popup;
  animation-duration: 800ms;
}

.buttons {
  margin: 20px;
  display: flex;
}

.buttons button {
  flex-shrink: 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  background-color: #9198e5;
  transition: 200ms;
  margin: 0 10px;
  font-weight: bolder;
  width: 160px;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.10);
}

.buttons button:hover {
  transform: scale(1.05);
}

@keyframes popup {
  0%   { transform: scale(1,1) }
  10%  { transform: scale(1.1,1.1) }
  30%  { transform: scale(.9,.9) }
  50%  { transform: scale(1,1) }
  57%  { transform: scale(1,1) }
  64%  { transform: scale(1,1) }
  100% { transform: scale(1,1) }
}
