#root {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  /* background: linear-gradient(#fff, #999); */
  background: linear-gradient(#e66465, #9198e5);
}
.modalClass{
  background-color:white;
  opacity: 0.9;
height:400px;
width:300px;
}
.descriptionRow{
  /* background-color:#DCDCDC; */
  color:black;
  border:blue 3px solid;
  border-radius: 10px;
  max-height: 300px;
  overflow: hidden; 
  padding:15px;
  background: linear-gradient(white, #9198e5);
  
}
#root>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  flex-direction: row !important;
}

.row>* {
  margin: 5px;
}
.dataLayer {

width:100%;
height:100px;
border-radius: 25px;
border: 2px solid white;
position:relative;
top:450px;
right:1px;
}
.imageDiv {
height:200px;
/* width:450px; */
text-align:center;
/* position:relative;
top:-10px; */


}

.imageSize{

    max-width: 100%;
/* min-height:100%; */
    height: auto;
}
.descriptionPanel {
  position:absolute; 
  top:550px;
  opacity:100px;
}
.tabPanel {
  opacity: 0.8;
  font-weight: bold;
  border-radius: 25px;
  border: 2px solid white;
  padding: 10px;
  position:absolute;
  top:25px;
  left:0px;
  height:400px;
  width:436px;
  overflow: hidden;
  background-color:white;

}
.tabClass {
  width:2px;
}
h1 {
  font-family: 'Damion', cursive;
  color: #fff;
  text-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
}

h2 {
  color: #fff;
}

.swipe {
  position: absolute;
}
.borderBottom{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-bottom: 1px grey solid;
}
.borderTop{
  border-top: 1px grey solid;
}
.detailLink {
color: blue;
font-weight: bold;
/* padding: 10px; */
}
.transparent {
  opacity: 0.9;
  background-color: blue;
  color:white;
  height:0px;

}
.detailLinkContainer {
background-color:white;
height:50px;
overflow-y:hidden;
overflow-x:scroll;
}
.linkClassRow
{
  background-color: blue;
  color:white;
  padding-bottom: 5px;
  opacity:100;
  position: relative;
  top:178px
}
.linkClassContainer
{
 height:50px;
}
.linkClassPlain
{
  margin-top:8px;
  color:white;
  padding: 5px;
  /* padding-top:5px;
  padding-bottom:15px;  */
  font-size:small;
  height:24px;
  width:24px;
    
}

.linkClass
{
  margin-top:8px;
  margin-bottom:5px;
  color:white;
  padding: 5px;
  /* padding-top:5px;
  padding-bottom:15px;  */
  font-size:small;
  height:24px;
  width:24px;
  /* border:2px solid white;    
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
     */
}
.linkClass:hover
{
  margin-top:3px;
  font-size:small;
  height:30px;
  background-color:red;
  width:30px;
  border:2px solid white
  
  ;  
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    
}

.cardLinksBottom {
  background-color: blue;
  font:white;
  position: fixed;
  /* top: -70px; */
  color:white;
  padding-bottom: 5px;
  border-radius: 0 0 10px 10px;
  width: 90vw;
  max-width: 460px;
  /* width:100%;
  max-width:90%;
   */
 

}
.blue {
  background-color:blue;
}
.white{
  color:white;
}
.modalTitle {
  
  font:white;
  font-size: 14pt;
  color:white;
  padding-bottom: 5px;
  text-align: center;
}
.cardContainer{
opacity:100;
}
.cardContainerTitle{
background-color:blue;
color:white;
/* font-weight:bold; */
font-size:18pt;
text-align:center;
}
.cardContainerBox{
  background-color:lightgray;
  font:black;
  font-size: 12pt;
  color:black;
  padding-bottom: 5px;
  border-radius: 0 0 10px 10px;
  border: blue solid 2px;
  
}
.cardTitle {
  background-color: blue;
  font:white;
  font-size: 14pt;
  color:white;
  padding-bottom: 5px;
  border-radius: 10px 10px 0 0;
}
.red {
  color:red;
  font-weight: bold;
}
.black {
color:black;
font-weight:bold;
}
.cardContainer {
  width: 90vw;
  max-width: 460px;
  height: 400px;
}
.instrumentName{
text-align:center;
color:blue;
}
.instrumentText{
  text-align:center;
  color:black;
  /* position: relative;
  top: -18px; */
}
.card {
  position: relative;
  background-color: #fff;
  width: 80vw;
  max-width: 460px;
  height: 500px;
  box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
  border-radius: 20px 20px 0 0;
  background-size: cover;
  background-position: center;
}

.cardContent {
  width: 100%;
  height: 100%;
}

.swipe:last-of-type {

}

.card h3 {
  position: absolute;
  bottom: 0;
  margin: 10px;
  color: #fff;
}

.infoText {
  width: 100%;
  height: 28px;
  justify-content: center;
  display: flex;
  color: #fff;
  animation-name: popup;
  animation-duration: 800ms;
}

.buttons {
  margin: 20px;
  display: flex;
}

.buttons button {
  flex-shrink: 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  background-color: #9198e5;
  transition: 200ms;
  margin: 0 10px;
  font-weight: bolder;
  width: 160px;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.10);
}

.buttons button:hover {
  transform: scale(1.05);
}

@keyframes popup {
  0%   { transform: scale(1,1) }
  10%  { transform: scale(1.1,1.1) }
  30%  { transform: scale(.9,.9) }
  50%  { transform: scale(1,1) }
  57%  { transform: scale(1,1) }
  64%  { transform: scale(1,1) }
  100% { transform: scale(1,1) }
}
